//
//  QA.xcconfig
//  iOS_Template
//
//  Created by Sebastian Guerrero F on 1/18/19.
//  Copyright © 2019 DEVSU. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


SERVER_URL = private-39572-iostemplate.apiary-mock.com
SERVER_PROTOCOL = https
ENVIRONMENT_NAME = qa
